<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                    name="sexo" id="todos" value="Masculino">
                <label class="form-check-label" for="todos">Todos({{total_empleados}})</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                    name="sexo" id="femenino" value="Femenino">
                <label class="form-check-label" for="femenino">Femeninos({{total_femeninos}})</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                    name="sexo" id="masculino" value="Masculino">
                <label class="form-check-label" for="masculino">Masculinos({{total_masculinos}})</label>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>Dossier</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Sexo</th>
                    <th>Salario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of listaEmpleados">
                    <td>{{empleado.dossier}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellidos}}</td>
                    <td>{{empleado.sexo}}</td>
                    <td>{{empleado.salario | currency: '€' }}</td>
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
</div>
