<div class="container">
    <app-count-empleados [todos]="total_empleados"
                         [masculinos]="total_masculinos"
                         [femeninos]="total_femeninos"
                         (countRadioButtonChange)="empleadoRadioButtonChange($event)"></app-count-empleados>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Dossier</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Sexo</th>
                        <th>Salario</th>
                    </tr>
                </thead>
                <tbody>
                    <!--recorremos la lista de empleados-->
                    <ng-container *ngFor="let empleado of listaEmpleados">
                        <!--mostramos la lista dependiendo del valor de radioButtonSeleccionado-->
                        <tr *ngIf="radioButtonSeleccionado == 'Todos' || radioButtonSeleccionado == empleado.sexo">
                            <td>{{empleado.dossier}}</td>
                            <td>{{empleado.nombre}}</td>
                            <td>{{empleado.apellidos}}</td>
                            <td>{{empleado.sexo}}</td>
                            <td>{{empleado.salario | currency: '€' }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
